<div class="min-h-screen flex flex-col">
  <!-- Header -->
  <header class="bg-white shadow p-4 flex justify-between items-center">
    <div class="text-2xl font-bold">RAG-IO</div>
    <nav class="space-x-4">
      <a href="#" class="text-gray-600 hover:text-blue-600">Início</a>
      <a href="#" class="text-gray-600 hover:text-blue-600">Sobre</a>
      <a href="#" class="text-gray-600 hover:text-blue-600">Contato</a>
    </nav>
  </header>

  <!-- Hero -->
  <section class="bg-blue-100 text-center py-20 px-4">
    <h1 class="text-4xl font-bold mb-4">Welcome to Spring AI - Rag</h1>
    <p class="text-lg mb-6">Augmented solution files</p>
    <button class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700" (click)="openDialog()" >
      Submit your file
    </button>


  </section>

  <form class="p-4 md:p-5" [formGroup]="formQuestion" (ngSubmit)="onSubmit()">
    <!-- Features -->
    <section class="grid md:grid-cols-1 gap-8 p-10 bg-white">
      <div class="text-center">
        <label for="large-input" class="block mb-2 text-sm font-medium text-gray-950">



            <br/>
            <input type="text" id="large-input" formControlName="question"
                   class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

          <br/>
            <div class="text-center">
              <button type="submit"
                      class="text-white
              inline-flex
              items-center
              bg-blue-700
              hover:bg-blue-800
              focus:ring-4
              focus:outline-none
              focus:ring-blue-300
              font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-blue-600
              dark:hover:bg-blue-700
              dark:focus:ring-blue-800">


                Go ahead ..
              </button>
            </div>



        </label>

      </div>
    </section>


    <p class="text-gray-500 dark:text-gray-400">
      @if (resultQuestion().question){
        <b>Your question was: </b>
        {{resultQuestion().question}}
    }
    </p>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <p class="text-gray-500 dark:text-gray-400">
      @if (resultQuestion()){

        {{resultQuestion().response}}
      }

    </p>






  </form>

  <!-- Footer -->
  <footer class="mt-auto bg-gray-100 text-center p-4 text-sm text-gray-600">
    © 2025 rag-jon-io. Todos os direitos reservados.
  </footer>
</div>


<router-outlet />
